// ? .. Colours .. ? \\

$lightgrey: #f9f9f9;
$white: #fdfdfd;
$darkgrey: #5f5f5f;
$darkPurple: #1c0d27;
$pink: #bd34cf;
$purple: #59265a;
$lightPurple: #89377a;
$mediumPink: #be2d83;
$slightlydarkerpink: #a52a70;
$color: #d538ab;
$pinkMain: #e2399f;
$color3: #c7badd;
$color2: #513866;
$color1: #5b255a;
